@tailwind base;
@tailwind components;
@tailwind utilities;



.bg{
  background: url(../image/bg.png) black;
  
}


input[type="submit"]:hover{
    transition: remp 0.5s linear 0s 1 forwards;
}

@keyframes remp {
    from {
      background-position: left;
    }
    to {
      background-position: right;
    }
  }


/*Animation page annonce */
.css-typing p {
  border-right: 5px solid white;
  border: #000000b6;
  font-size: 1em;
  font-family: "Courier";
  white-space: nowrap;
  overflow: hidden;
}
.css-typing p:nth-child(1) {
  width: 3.5em;
  -webkit-animation: type 1s steps(40, end);
  animation: type 1s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width: 30em;
  opacity: 0;
  -webkit-animation: type2 4s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
  width: 18em;
  opacity: 0;
  -webkit-animation: type2 4s steps(40, end);
  animation: type2 4s steps(40, end);
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(4) {
  width: 4em;
  opacity: 0;
  -webkit-animation: type3 1s steps(20, end), blink .5s step-end infinite alternate;
  animation: type3 1s steps(20, end), blink .5s step-end infinite alternate;
  -webkit-animation-delay: 9s;
  animation-delay: 9s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}



@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid #fff;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid #fff;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid #fff;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid #00131b;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}